sw-factory-control-system/user-inteface.json
[{"id":"e3c06b8e.47d268","type":"websocket-client","z":"33761c40.de4ac4","path":"ws://dt-ma-118930:1881/ws/arduino","wholemsg":"false"},{"id":"a7adb3e0.ce459","type":"ui_tab","z":"33761c40.de4ac4","name":"ArduinoControl","icon":"dashboard","order":"1"},{"id":"f1502eac.a11ed","type":"serial-port","z":"33761c40.de4ac4","serialport":"COM10","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"98a50e31.6f738","type":"serial in","z":"33761c40.de4ac4","name":"Arduino Read","serial":"f1502eac.a11ed","x":201,"y":463,"wires":[["685d7ec1.c847e","cef781f5.42ffc"]]},{"id":"53c4a425.9a3c1c","type":"serial out","z":"33761c40.de4ac4","name":"Arduino Wirte","serial":"f1502eac.a11ed","x":816,"y":228,"wires":[]},{"id":"c2fabb86.2e6098","type":"ui_switch","z":"33761c40.de4ac4","tab":"a7adb3e0.ce459","name":"Switch","topic":"workstate","group":"Control","order":1,"onvalue":"1","offvalue":"-1","x":274,"y":194,"wires":[["8ec4b652.b61af8"]]},{"id":"89d3f62d.259388","type":"ui_chart","z":"33761c40.de4ac4","tab":"a7adb3e0.ce459","name":"","group":"Monitor","order":1,"interpolate":"linear","nodata":"No Data","removeOlder":1,"removeOlderUnit":"60","x":745,"y":399,"wires":[[],[]]},{"id":"685d7ec1.c847e","type":"function","z":"33761c40.de4ac4","name":"Valus List to Object","func":"var signals = msg.payload.split(',');\nvar data = {\n    workstate : signals[0],\n    blinkrate : signals[1].trim()\n}\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":462,"wires":[["abbfa702.a7b458","3eb8a3f4.bd84ac"]]},{"id":"aa11d646.1d7828","type":"ui_button","z":"33761c40.de4ac4","tab":"a7adb3e0.ce459","name":"Full Stop","payload":"-2","topic":"workstate","group":"Control","order":"3","x":264,"y":292,"wires":[["8ec4b652.b61af8"]]},{"id":"8ec4b652.b61af8","type":"function","z":"33761c40.de4ac4","name":"Create Serial Statement","func":"\n\nif (msg.topic == 'workstate') {\n    flow.set('workstate', msg.payload)\n}\n\nif (msg.topic == 'blinkrate') {\n    flow.set('blinkrate', msg.payload)\n}\n\nmsg.payload = flow.get('workstate') + \",\" + flow.get('blinkrate');\nreturn msg;","outputs":1,"noerr":0,"x":575,"y":228,"wires":[["53c4a425.9a3c1c","d6068899.1dfcc8"]]},{"id":"ad111707.8c6248","type":"ui_slider","z":"33761c40.de4ac4","tab":"a7adb3e0.ce459","name":"Blinkrate","topic":"blinkrate","group":"Control","order":"2","min":"10","max":"100","x":266,"y":243,"wires":[["8ec4b652.b61af8"]]},{"id":"d6068899.1dfcc8","type":"debug","z":"33761c40.de4ac4","name":"","active":true,"console":"false","complete":"false","x":814,"y":294,"wires":[]},{"id":"abbfa702.a7b458","type":"function","z":"33761c40.de4ac4","name":"","func":"msg.payload = msg.payload.blinkrate;\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":399,"wires":[["89d3f62d.259388"]]},{"id":"cef781f5.42ffc","type":"debug","z":"33761c40.de4ac4","name":"","active":false,"console":"false","complete":"false","x":411,"y":574,"wires":[]},{"id":"120b7fe1.3fa87","type":"websocket out","z":"33761c40.de4ac4","name":"","server":"","client":"e3c06b8e.47d268","x":868,"y":469,"wires":[]},{"id":"3eb8a3f4.bd84ac","type":"json","z":"33761c40.de4ac4","name":"","x":606,"y":515,"wires":[["120b7fe1.3fa87","47a1bd32.4e41d4"]]},{"id":"47a1bd32.4e41d4","type":"debug","z":"33761c40.de4ac4","name":"","active":true,"console":"false","complete":"false","x":788,"y":575,"wires":[]}]