sw-modules/module-iot2050/node-red.json
[{"id":"cb4b202.e621f6","type":"tab","label":"IOT2050","disabled":false,"info":""},{"id":"af7f3b2f.adcdf8","type":"mraa-gpio-led","z":"cb4b202.e621f6","name":"ledred","pin":"4","x":590,"y":500,"wires":[]},{"id":"5702a42f.297164","type":"mqtt in","z":"cb4b202.e621f6","name":"","topic":"rfid/package","qos":"2","datatype":"auto","broker":"bcd06034.e998","x":170,"y":340,"wires":[["fda3de4b.897198","6bf9cf8b.f79188","2190c0b1.a9973"]]},{"id":"2190c0b1.a9973","type":"debug","z":"cb4b202.e621f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":340,"wires":[]},{"id":"b30a429c.68647","type":"mqtt out","z":"cb4b202.e621f6","name":"","topic":"rfid/package","qos":"1","retain":"false","broker":"bcd06034.e998","x":610,"y":220,"wires":[]},{"id":"d866d71b.cc8a9","type":"inject","z":"cb4b202.e621f6","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":200,"wires":[["b30a429c.68647"]]},{"id":"eb673545.e8e7f","type":"inject","z":"cb4b202.e621f6","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["b30a429c.68647"]]},{"id":"91a44a89.a42c38","type":"inject","z":"cb4b202.e621f6","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[["b30a429c.68647"]]},{"id":"4c87728.4cdc80c","type":"mraa-gpio-led","z":"cb4b202.e621f6","name":"ledorange","pin":"5","x":600,"y":460,"wires":[]},{"id":"267d0b39.d5cb54","type":"mraa-gpio-led","z":"cb4b202.e621f6","name":"ledgreen","pin":"0","x":600,"y":420,"wires":[]},{"id":"c0b4b99e.4b5668","type":"function","z":"cb4b202.e621f6","name":"is1","func":"if(msg.payload === \"1\"){\n    msg.payload = true;\n}\nelse {\n    msg.payload = false;\n}\nreturn msg; ","outputs":1,"noerr":0,"x":430,"y":420,"wires":[["267d0b39.d5cb54"]]},{"id":"fda3de4b.897198","type":"delay","z":"cb4b202.e621f6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":460,"wires":[["c0b4b99e.4b5668","76541856.d34728","2812b795.ca1288"]]},{"id":"6bf9cf8b.f79188","type":"function","z":"cb4b202.e621f6","name":"false","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["267d0b39.d5cb54","4c87728.4cdc80c","af7f3b2f.adcdf8"]]},{"id":"9748d002.47732","type":"debug","z":"cb4b202.e621f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":760,"wires":[]},{"id":"c8d48d9e.2d3ce","type":"OpcUa-Item","z":"cb4b202.e621f6","item":"ns=3;s=\"Data_Block_1\".\"istPos\"","datatype":"Int16","value":"","name":"istPos","x":270,"y":760,"wires":[["378f51a3.243afe"]]},{"id":"632f6edb.2a65b","type":"OpcUa-Item","z":"cb4b202.e621f6","item":"ns=3;s=\"Data_Block_1\".\"sollPos\"","datatype":"Int16","value":"","name":"sollPos","x":280,"y":800,"wires":[["378f51a3.243afe"]]},{"id":"76541856.d34728","type":"function","z":"cb4b202.e621f6","name":"is2","func":"if(msg.payload === \"2\"){\n    msg.payload = true;\n}\nelse {\n    msg.payload = false;\n}\nreturn msg; ","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["4c87728.4cdc80c"]]},{"id":"2812b795.ca1288","type":"function","z":"cb4b202.e621f6","name":"is3","func":"if(msg.payload === \"3\"){\n    msg.payload = true;\n}\nelse {\n    msg.payload = false;\n}\nreturn msg; ","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["af7f3b2f.adcdf8"]]},{"id":"5559382c.831cf","type":"comment","z":"cb4b202.e621f6","name":"es müssen alle LED's gelöscht werden, bevor einzelne wieder angehen...","info":"","x":350,"y":160,"wires":[]},{"id":"1ed8b207.8b4c3e","type":"comment","z":"cb4b202.e621f6","name":"Test MQTT und LEDs","info":"","x":200,"y":120,"wires":[]},{"id":"e9e61324.d5b68","type":"comment","z":"cb4b202.e621f6","name":"Versuch OPCua SPS","info":"","x":120,"y":560,"wires":[]},{"id":"1e02af1b.50d4e9","type":"inject","z":"cb4b202.e621f6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":760,"wires":[["c8d48d9e.2d3ce","632f6edb.2a65b"]]},{"id":"378f51a3.243afe","type":"OpcUa-Client","z":"cb4b202.e621f6","endpoint":"85a68a30.06e8d","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":500,"y":760,"wires":[["9748d002.47732"]]},{"id":"a0872110.82af08","type":"OpcUa-Client","z":"cb4b202.e621f6","endpoint":"85a68a30.06e8d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":300,"y":640,"wires":[["fe103b05.8bb75","b6054890.d5938"]]},{"id":"fe103b05.8bb75","type":"OpcUa-Item","z":"cb4b202.e621f6","item":"ns=3;s=\"Data_Block_1\".\"istPos\"","datatype":"Int16","value":"","name":"istPos","x":470,"y":640,"wires":[["b6957c76.7f5a58"]]},{"id":"b6054890.d5938","type":"OpcUa-Item","z":"cb4b202.e621f6","item":"ns=3;s=\"Data_Block_1\".\"sollPos\"","datatype":"Int16","value":"","name":"sollPos","x":480,"y":680,"wires":[["b6957c76.7f5a58"]]},{"id":"3dd5546d.8b465c","type":"inject","z":"cb4b202.e621f6","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":640,"wires":[["a0872110.82af08"]]},{"id":"b6957c76.7f5a58","type":"debug","z":"cb4b202.e621f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":640,"wires":[]},{"id":"3acee9b2.ae172e","type":"rpi-srf","z":"cb4b202.e621f6","name":"","topic":"SRF","pulse":"1","pins":"13,11","x":150,"y":60,"wires":[["97736338.d9d31","b7ea156e.afeb28"]]},{"id":"539606f8.22efd","type":"s7comm write","z":"cb4b202.e621f6","connection":"35dc00ec.0edd38","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"100\",\"S7_Datatype\":\"uint16\",\"S7_Offset\":\"6\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"distanz\"}","s7Name":"distanz","topic":"","name":"","signalSetted":false,"x":620,"y":60,"wires":[[]]},{"id":"97736338.d9d31","type":"debug","z":"cb4b202.e621f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":100,"wires":[]},{"id":"b7ea156e.afeb28","type":"function","z":"cb4b202.e621f6","name":"wrap JSON","func":"var object = {\n      \"value\":[msg.payload]\n      }\n     \nmsg.payload = Object.assign({}, object); \n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":60,"wires":[["97736338.d9d31","539606f8.22efd"]]},{"id":"bcd06034.e998","type":"mqtt-broker","z":"","name":"Sortic Server","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85a68a30.06e8d","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://192.168.0.100:4840","secpol":"None","secmode":"None","login":false},{"id":"35dc00ec.0edd38","type":"s7comm","z":"","ip":"192.168.0.100","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"done"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"uint16","S7_Offset":"2","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"sollPos"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"uint16","S7_Offset":"4","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"istPos"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"uint16","S7_Offset":"6","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"distanz"}]}]