sw-modules/module-raspbi/node-red.json
[
  {
    "id": "f57c3bf4.a9cda8",
    "type": "tab",
    "label": "S150",
    "disabled": false,
    "info": ""
  },
  {
    "id": "47af9589.c8e14c",
    "type": "serial in",
    "z": "f57c3bf4.a9cda8",
    "name": "module-platform",
    "serial": "e220cc22.4970d",
    "x": 163,
    "y": 70.00000095367432,
    "wires": [["9a73b968.b0b878", "3ccaae5b.a6da32"]]
  },
  {
    "id": "989d1825.1bd968",
    "type": "debug",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 960.0000152587891,
    "y": 159.00000190734863,
    "wires": []
  },
  {
    "id": "269bd6c0.ac975a",
    "type": "serial out",
    "z": "f57c3bf4.a9cda8",
    "name": "module-platform",
    "serial": "e220cc22.4970d",
    "x": 954.0000152587891,
    "y": 260.00000381469727,
    "wires": []
  },
  {
    "id": "8cdeee6.230f61",
    "type": "function",
    "z": "f57c3bf4.a9cda8",
    "name": "logic",
    "func": "const {payload} = msg;\nconst distance = Number.parseInt(payload[1]);\nconst position = flow.get('position');\nconst startPosition = flow.get('startPosition');\nconst value = new Array(2);\nconst state = flow.get(\"state\");\nconst minSpeed = flow.get(\"minSpeed\");\nconst speed = flow.get(\"speed\");\nconst oldSpeed = flow.get(\"oldSpeed\") || minSpeed;\nconst verify = flow.get(\"verify\") || 0;\n\nif(position === null || distance === 0){\n    return value;\n}\n\nif(distance === position){\n    if(verify === 3){\n        flow.set('position', null);\n        flow.set(\"speed\", oldSpeed);\n          if(state === 1){\n              value[1] = {payload: flow.get(\"handlingUnit\")};\n          }\n    }else{\n        flow.set(\"verify\",verify+1);\n        flow.set(\"speed\", oldSpeed/2);\n    }\n\n    value[0] = {payload: \"0(0)\"};\n  \n}else{\n    const payload = `${distance > position ? \"1\": \"0\"}(${speed})`;\n    value[0] = {payload};\n    flow.set(\"verify\",0);\n}\n\nreturn value;",
    "outputs": 2,
    "noerr": 0,
    "x": 645.0000076293945,
    "y": 109.00000143051147,
    "wires": [
      ["989d1825.1bd968", "269bd6c0.ac975a"],
      ["335c0f13.814c4", "b1a7f6ed.ae4fb8"]
    ]
  },
  {
    "id": "9a73b968.b0b878",
    "type": "function",
    "z": "f57c3bf4.a9cda8",
    "name": "parse module-platform",
    "func": "const {payload} = msg;\nconst params = payload.replace(\"[\", \"\").replace(\"]\", \"\").split(',');\nmsg.payload = params;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 403,
    "y": 72,
    "wires": [["8cdeee6.230f61", "1d9e4e9c.8de531"]]
  },
  {
    "id": "b9442c58.3b211",
    "type": "ui_text",
    "z": "f57c3bf4.a9cda8",
    "group": "4f7a45a3.6903dc",
    "order": 2,
    "width": "0",
    "height": "0",
    "name": "",
    "label": "<font size=16>RFID Tag",
    "format": "<font size=16>{{msg.payload}}",
    "layout": "row-spread",
    "x": 916.0000076293945,
    "y": 66.9999885559082,
    "wires": []
  },
  {
    "id": "ba960733.887168",
    "type": "function",
    "z": "f57c3bf4.a9cda8",
    "name": "set new position",
    "func": "if(msg.payload){\n   const {destination, drop} = msg.payload;\n   flow.set('destination', destination);\n   flow.set('handlingUnit', `drop(${drop})`);\n\n    msg.payload = \"pickup(1)\"; \n    \n    return msg;\n}\n\n\n",
    "outputs": 1,
    "noerr": 0,
    "x": 627.0000076293945,
    "y": 312.0000047683716,
    "wires": [["335c0f13.814c4"]]
  },
  {
    "id": "cca7b39f.1e8ac",
    "type": "ui_button",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "group": "4f7a45a3.6903dc",
    "order": 7,
    "width": "4",
    "height": "2",
    "passthru": false,
    "label": "<font size=16>3",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"drop\":0,\"destination\":33}",
    "payloadType": "json",
    "topic": "",
    "x": 160.9999542236328,
    "y": 144.00001907348633,
    "wires": [["ba960733.887168"]]
  },
  {
    "id": "67e82e1.979c3d",
    "type": "ui_button",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "group": "4f7a45a3.6903dc",
    "order": 5,
    "width": "4",
    "height": "2",
    "passthru": false,
    "label": "<font size=16>1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"drop\":0,\"destination\":11}",
    "payloadType": "json",
    "topic": "",
    "x": 163.9999542236328,
    "y": 193.0000114440918,
    "wires": [["ba960733.887168"]]
  },
  {
    "id": "a8fa94c4.9e8708",
    "type": "ui_button",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "group": "4f7a45a3.6903dc",
    "order": 6,
    "width": "4",
    "height": "2",
    "passthru": false,
    "label": "<font size=16>2",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"drop\":0,\"destination\":22}",
    "payloadType": "json",
    "topic": "",
    "x": 163.9999542236328,
    "y": 273.0000114440918,
    "wires": [["ba960733.887168"]]
  },
  {
    "id": "4bf4d55.7158e2c",
    "type": "ui_button",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "group": "4f7a45a3.6903dc",
    "order": 8,
    "width": "4",
    "height": "2",
    "passthru": false,
    "label": "<font size=16>4",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"drop\":0,\"destination\":44}",
    "payloadType": "json",
    "topic": "",
    "x": 163.9999542236328,
    "y": 313.0000114440918,
    "wires": [["ba960733.887168"]]
  },
  {
    "id": "bc070620.c90c18",
    "type": "function",
    "z": "f57c3bf4.a9cda8",
    "name": "parse module-roboter-arm",
    "func": "if(flow.get(\"state\") ===0){\n    flow.set(\"position\", flow.get(\"destination\"));\n    flow.set(\"state\", flow.get(\"state\")+1);\n    msg.payload = flow.get(\"state\");\n    return msg;\n}\n\nif(flow.get(\"state\") ===1){\n    flow.set(\"position\", flow.get(\"startPosition\"));\n    flow.set(\"state\", 0);\n    msg.payload = flow.get(\"state\");\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 398.99999237060547,
    "y": 411.0001039505005,
    "wires": [["9cfdf7b2.7f8628"]]
  },
  {
    "id": "335c0f13.814c4",
    "type": "serial out",
    "z": "f57c3bf4.a9cda8",
    "name": "module-roboter-arm",
    "serial": "4e4f6fc6.dd128",
    "x": 941.0000152587891,
    "y": 313.0000047683716,
    "wires": []
  },
  {
    "id": "f4546198.2a09f",
    "type": "serial in",
    "z": "f57c3bf4.a9cda8",
    "name": "module-roboter-arm",
    "serial": "4e4f6fc6.dd128",
    "x": 157.99994659423828,
    "y": 411.0001049041748,
    "wires": [["bc070620.c90c18"]]
  },
  {
    "id": "b1a7f6ed.ae4fb8",
    "type": "debug",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 962.0000152587891,
    "y": 210.00000381469727,
    "wires": []
  },
  {
    "id": "9cfdf7b2.7f8628",
    "type": "debug",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 968.0000038146973,
    "y": 402.0001049041748,
    "wires": []
  },
  {
    "id": "1d9e4e9c.8de531",
    "type": "function",
    "z": "f57c3bf4.a9cda8",
    "name": "check id",
    "func": "const value = new Array(2);\nconst sendedRfid = msg.payload[0];\nconst oldRfid = flow.get(\"rfid\");\nconst rfIdBefore = flow.get(\"rfIdBefore\");\nconst verifyRfid = flow.get(\"verifyRfid\") || 0;\n\nif(sendedRfid !== null &&\nsendedRfid !== \"\" && \n    parseInt(sendedRfid, 10) > 10000 && \n    !isNaN(sendedRfid)){\n    flow.set(\"verifyRfid\", 0);\n    flow.set(\"rfid\",sendedRfid);\n    msg.payload = sendedRfid;\n    value[0] = msg;\n}else{\n    if(verifyRfid === 20){\n        flow.set(\"rfid\",\"\");\n        value[0] = msg;\n        msg.payload = \"\";\n        flow.set(\"verifyRfid\", 0);\n    }else{\n        flow.set(\"verifyRfid\", verifyRfid+1); \n    }\n}\n\nreturn value;",
    "outputs": 2,
    "noerr": 0,
    "x": 633.0000076293945,
    "y": 72.00000095367432,
    "wires": [["b9442c58.3b211", "eff36f5.29f6f9"], []]
  },
  {
    "id": "8f293da5.3f9",
    "type": "ui_button",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "group": "4f7a45a3.6903dc",
    "order": 3,
    "width": "16",
    "height": "2",
    "passthru": false,
    "label": "<font size=16>Station",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "{\"destination\":31,\"drop\":1}",
    "payloadType": "json",
    "topic": "",
    "x": 151.99993896484375,
    "y": 497.0001049041748,
    "wires": [["d451a3f4.7cfd4"]]
  },
  {
    "id": "3f55d15c.86805e",
    "type": "ui_button",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "group": "4f7a45a3.6903dc",
    "order": 4,
    "width": "16",
    "height": "1",
    "passthru": false,
    "label": "",
    "tooltip": "",
    "color": "",
    "bgcolor": "grey",
    "icon": "",
    "payload": "{\"destination\":31,\"drop\":1}",
    "payloadType": "json",
    "topic": "",
    "x": 133.9999542236328,
    "y": 233.0000114440918,
    "wires": [[]]
  },
  {
    "id": "3ccaae5b.a6da32",
    "type": "debug",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 433.28907012939453,
    "y": 108.74220085144043,
    "wires": []
  },
  {
    "id": "eff36f5.29f6f9",
    "type": "debug",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 959.1001091003418,
    "y": 112.60004997253418,
    "wires": []
  },
  {
    "id": "db2f6f28.94bea",
    "type": "ui_button",
    "z": "f57c3bf4.a9cda8",
    "name": "",
    "group": "4f7a45a3.6903dc",
    "order": 9,
    "width": "16",
    "height": "2",
    "passthru": false,
    "label": "<font size=16>Position RFID",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "",
    "x": 127.99999237060547,
    "y": 359.200288772583,
    "wires": [["3c9e4506.97ed3a"]]
  },
  {
    "id": "3c9e4506.97ed3a",
    "type": "function",
    "z": "f57c3bf4.a9cda8",
    "name": "get position from positions",
    "func": "const rfidTag = flow.get(\"rfid\");\nconst rfidPositions = flow.get(\"rfidPositions\");\n\nmsg.payload = rfidPositions[rfidTag];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 397.0000457763672,
    "y": 357.8001518249512,
    "wires": [["ba960733.887168"]]
  },
  {
    "id": "d451a3f4.7cfd4",
    "type": "function",
    "z": "f57c3bf4.a9cda8",
    "name": "set initvariables",
    "func": "const rfidPositions = {\n  \"418111716223173128\": { drop: 0, destination: 11 },\n  \"48054663893129\": { drop: 0, destination: 22 },\n  \"48154663893129\": { drop: 0, destination: 33 },\n  \"44311716223173128\": { drop: 0, destination: 44 }\n};\nconst speed = 110;\nconst minSpeed = 55;\nconst startPosition = 37;\nconst initState = 0;\n\nflow.set(\"rfidPositions\", rfidPositions);\nflow.set(\"state\", initState);\nflow.set(\"position\", startPosition);\nflow.set(\"startPosition\", startPosition);\nflow.set(\"minSpeed\", minSpeed);\nflow.set(\"oldSpeed\", speed);\nflow.set(\"speed\", speed);\n\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "x": 429.0999984741211,
    "y": 456.00005626678467,
    "wires": [["9cfdf7b2.7f8628"]]
  },
  {
    "id": "c7f3841b.17c848",
    "type": "inject",
    "z": "f57c3bf4.a9cda8",
    "name": "init",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "x": 198.9999542236328,
    "y": 457.4001045227051,
    "wires": [["d451a3f4.7cfd4"]]
  },
  {
    "id": "e220cc22.4970d",
    "type": "serial-port",
    "z": "",
    "serialport": "/dev/ttyACM0",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "newline": "]",
    "bin": "false",
    "out": "char",
    "addchar": "false",
    "responsetimeout": ""
  },
  {
    "id": "4f7a45a3.6903dc",
    "type": "ui_group",
    "z": "",
    "name": "",
    "tab": "cd68f398.ee49f",
    "order": 2,
    "disp": false,
    "width": "16",
    "collapse": false
  },
  {
    "id": "4e4f6fc6.dd128",
    "type": "serial-port",
    "z": "",
    "serialport": "/dev/ttyACM1",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "false",
    "responsetimeout": ""
  },
  {
    "id": "cd68f398.ee49f",
    "type": "ui_tab",
    "z": "",
    "name": "S150",
    "icon": "dashboard",
    "order": 1
  }
]
