sw-modules/module-raspbi/node-red.json
[{"id":"f799943d.468d48","type":"tab","label":"S150","disabled":false,"info":""},{"id":"f33d0628.f34db8","type":"ui_button","z":"f799943d.468d48","name":"","group":"d715c26d.08df9","order":3,"width":"4","height":"2","passthru":false,"label":"<font size=16>3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":160,"y":340,"wires":[["57597678.f9e2a8","b8508243.46f5d8"]]},{"id":"f3788fb7.a0aec","type":"ui_button","z":"f799943d.468d48","name":"","group":"d715c26d.08df9","order":1,"width":"4","height":"2","passthru":false,"label":"<font size=16>1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":160,"y":260,"wires":[["57597678.f9e2a8","b8508243.46f5d8"]]},{"id":"730feee7.21bed","type":"ui_button","z":"f799943d.468d48","name":"","group":"d715c26d.08df9","order":2,"width":"4","height":"2","passthru":false,"label":"<font size=16>2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":160,"y":300,"wires":[["57597678.f9e2a8","b8508243.46f5d8"]]},{"id":"7a8775f6.66218c","type":"ui_button","z":"f799943d.468d48","name":"","group":"d715c26d.08df9","order":4,"width":"4","height":"2","passthru":false,"label":"<font size=16>4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":160,"y":380,"wires":[["57597678.f9e2a8","b8508243.46f5d8"]]},{"id":"cc0fba79.7d7ca8","type":"ui_button","z":"f799943d.468d48","name":"","group":"d715c26d.08df9","order":5,"width":"16","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"grey","icon":"","payload":"0","payloadType":"num","topic":"","x":130,"y":220,"wires":[[]]},{"id":"ef71ce20.021cd","type":"rpi-srf","z":"f799943d.468d48","name":"","topic":"SRF","pulse":"1","pins":"13,11","x":130,"y":620,"wires":[["ea6c75c1.52525","1d18f12e.5c9bdf","4b77f1f1.bb4878"]]},{"id":"3bf3ba6.d235446","type":"comment","z":"f799943d.468d48","name":"Sollte auf IOT2050 sein","info":"","x":180,"y":520,"wires":[]},{"id":"20e8caf8.ed1cce","type":"comment","z":"f799943d.468d48","name":"Auswahl Box","info":"","x":150,"y":160,"wires":[]},{"id":"ea6c75c1.52525","type":"ui_text","z":"f799943d.468d48","group":"d715c26d.08df9","order":6,"width":0,"height":0,"name":"","label":"<font size=16>Distanz: ","format":"<font size=16>{{msg.payload}} cm","layout":"row-spread","x":500,"y":580,"wires":[]},{"id":"edc2b66d.0b9b28","type":"debug","z":"f799943d.468d48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":40,"wires":[]},{"id":"5be0501d.d0122","type":"inject","z":"f799943d.468d48","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":40,"wires":[["a4ad6c5c.699ff8","7b2b9fb0.5b352"]]},{"id":"a4ad6c5c.699ff8","type":"s7comm read","z":"f799943d.468d48","connection":"f5707c78.4211c8","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"100\",\"S7_Datatype\":\"uint16\",\"S7_Offset\":\"6\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"distanz\"}","s7Name":"distanz","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":false,"x":320,"y":100,"wires":[["edc2b66d.0b9b28"]]},{"id":"6f60f30b.f57a84","type":"s7comm write","z":"f799943d.468d48","connection":"f5707c78.4211c8","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"100\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"done\"}","s7Name":"done","topic":"","name":"","signalSetted":false,"x":920,"y":60,"wires":[[]]},{"id":"7b2b9fb0.5b352","type":"s7comm read","z":"f799943d.468d48","connection":"f5707c78.4211c8","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"100\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"0\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"done\"}","s7Name":"done","topic":"","name":"","signalSetted":false,"none":"true","repeat":"","once":false,"x":320,"y":40,"wires":[["edc2b66d.0b9b28"]]},{"id":"2bcc7831.2600f8","type":"inject","z":"f799943d.468d48","name":"","topic":"","payload":"{\"value\":[true]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":710,"y":40,"wires":[["6f60f30b.f57a84"]]},{"id":"9c4de104.fdc778","type":"inject","z":"f799943d.468d48","name":"","topic":"","payload":"{\"value\":[false]}","payloadType":"json","repeat":"","crontab":"","once":false,"x":720,"y":80,"wires":[["6f60f30b.f57a84"]]},{"id":"af5209b.e7c6978","type":"inject","z":"f799943d.468d48","name":"Test","topic":"","payload":"{\"value\":[1]}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":610,"y":320,"wires":[["b95c757a.4d0ff","b7c5399a.8accc8"]]},{"id":"b95c757a.4d0ff","type":"s7comm write","z":"f799943d.468d48","connection":"f5707c78.4211c8","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"100\",\"S7_Datatype\":\"int16\",\"S7_Offset\":\"8\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"BoxAt\"}","s7Name":"BoxAt","topic":"","name":"","signalSetted":false,"x":900,"y":260,"wires":[[]]},{"id":"3df47985.9a6496","type":"debug","z":"f799943d.468d48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":340,"wires":[]},{"id":"57597678.f9e2a8","type":"function","z":"f799943d.468d48","name":"wrap JSON","func":"var object = {\n      \"value\":[msg.payload]\n      }\n     \nmsg.payload = Object.assign({}, object); \n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":260,"wires":[["b95c757a.4d0ff","fe30bedc.98101","b7c5399a.8accc8"]]},{"id":"b532d1c0.05e1d8","type":"s7comm write","z":"f799943d.468d48","connection":"f5707c78.4211c8","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"100\",\"S7_Datatype\":\"uint16\",\"S7_Offset\":\"6\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"distanz\"}","s7Name":"distanz","topic":"","name":"","signalSetted":false,"x":820,"y":620,"wires":[[]]},{"id":"1d18f12e.5c9bdf","type":"debug","z":"f799943d.468d48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":660,"wires":[]},{"id":"4b77f1f1.bb4878","type":"function","z":"f799943d.468d48","name":"wrap JSON","func":"var object = {\n      \"value\":[msg.payload]\n      }\n     \nmsg.payload = Object.assign({}, object); \n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":620,"wires":[["1d18f12e.5c9bdf","b532d1c0.05e1d8"]]},{"id":"bffde556.af527","type":"mqtt in","z":"f799943d.468d48","name":"","topic":"rfid/package","qos":"2","datatype":"auto","broker":"3111922e.c9ad16","x":150,"y":720,"wires":[["6330c268.32b964"]]},{"id":"6330c268.32b964","type":"ui_text","z":"f799943d.468d48","group":"d715c26d.08df9","order":8,"width":0,"height":0,"name":"package-reader","label":"<font size=16>package-reader:","format":"<font size=16>{{msg.payload}}","layout":"row-spread","x":820,"y":720,"wires":[]},{"id":"b8508243.46f5d8","type":"function","z":"f799943d.468d48","name":"wrap JSON true","func":"var object = {\n      \"value\":[true]\n      }\n     \nmsg.payload = Object.assign({}, object); \n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["c1c69622.6229c8","be61f788.40dae8","b7c5399a.8accc8"]]},{"id":"c1c69622.6229c8","type":"s7comm write","z":"f799943d.468d48","connection":"f5707c78.4211c8","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"100\",\"S7_Datatype\":\"X\",\"S7_Offset\":\"10\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"getPackage\"}","s7Name":"getPackage","topic":"","name":"","signalSetted":false,"x":900,"y":380,"wires":[[]]},{"id":"be61f788.40dae8","type":"delay","z":"f799943d.468d48","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":420,"wires":[["e307c02b.f4709"]]},{"id":"e307c02b.f4709","type":"function","z":"f799943d.468d48","name":"wrap JSON true","func":"var object = {\n      \"value\":[false]\n      }\n     \nmsg.payload = Object.assign({}, object); \n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":420,"wires":[["c1c69622.6229c8","3df47985.9a6496"]]},{"id":"fe30bedc.98101","type":"delay","z":"f799943d.468d48","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":220,"wires":[["76e93872.648cb8"]]},{"id":"76e93872.648cb8","type":"function","z":"f799943d.468d48","name":"wrap JSON","func":"var object = {\n      \"value\":[0]\n      }\n     \nmsg.payload = Object.assign({}, object); \n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["3df47985.9a6496"]]},{"id":"b7c5399a.8accc8","type":"debug","z":"f799943d.468d48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":300,"wires":[]},{"id":"d715c26d.08df9","type":"ui_group","z":"","name":"","tab":"e8c5b244.33203","order":2,"disp":false,"width":"16","collapse":false},{"id":"f5707c78.4211c8","type":"s7comm","z":"","ip":"192.168.0.100","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"X","S7_Offset":"0","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"done"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"uint16","S7_Offset":"2","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"sollPos"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"uint16","S7_Offset":"4","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"istPos"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"uint16","S7_Offset":"6","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"distanz"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"int16","S7_Offset":"8","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"BoxAt"},{"S7_Type":"DB","S7_DBnum":"100","S7_Datatype":"X","S7_Offset":"10","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"getPackage"}]},{"id":"3111922e.c9ad16","type":"mqtt-broker","z":"","name":"Sortic Server","broker":"192.168.0.11","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8c5b244.33203","type":"ui_tab","z":"","name":"S150","icon":"dashboard","order":1}]